* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  margin: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: 100%; }

.header {
  width: 100%;
  height: 4.3rem;
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #323232;
  position: fixed;
  z-index: 1000; }
  .header__nav {
    width: 80%;
    height: 80%;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .header__nav__ul {
      width: 100%;
      height: 100%;
      padding: 0 10px 0 10px;
      display: flex;
      direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      line-height: 43px; }
      .header__nav__ul__div {
        display: flex;
        direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%; }
        .header__nav__ul__div__logo img {
          width: 150px;
          height: 50px; }
        .header__nav__ul__div p {
          padding-right: 5px; }
      .header__nav__ul__li {
        height: 80%; }
        .header__nav__ul__li__links {
          color: white;
          font-family: sans-serif;
          font-size: 0.8rem; }
      .header__nav__ul__horarios {
        height: 80%;
        width: 130px;
        text-align: center; }
        .header__nav__ul__horarios__a button {
          width: 100%;
          padding: 8px 0 8px 0;
          border-radius: 20px;
          background: transparent;
          border: 2px #c90040 solid;
          color: white;
          cursor: pointer; }
      .header__nav__ul__asoc {
        height: 80%;
        width: 130px;
        text-align: center; }
        .header__nav__ul__asoc__a button {
          width: 100%;
          padding: 8px 0 8px 0;
          border-radius: 20px;
          background: #c90040;
          color: white;
          border: none;
          cursor: pointer; }

.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 900;
  padding: 30px;
  width: 200px; }
  .whatsapp button {
    width: 100%;
    padding: 8px 0 8px 0;
    border-radius: 20px;
    background: #025602;
    color: white;
    border: none;
    cursor: pointer; }

.banner__video {
  width: 100%; }

.banner__items {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 20rem;
  position: absolute;
  top: 150px;
  left: 210px; }
  .banner__items__titulos {
    width: 100%;
    text-align: center; }
    .banner__items__titulos h1 {
      width: 100%;
      font-family: 'Kdam Thmor Pro';
      font-size: 120px;
      color: white; }
    .banner__items__titulos h2 {
      width: 100%;
      font-family: 'M PLUS Code Latin';
      font-size: 80px;
      color: #c90040; }
  .banner__items__clases {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px 0;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
    .banner__items__clases__ath {
      color: #7979fb; }
    .banner__items__clases__bike {
      color: #000042; }
    .banner__items__clases__yog {
      color: #8fff8f; }
    .banner__items__clases__cross {
      color: #ff7474; }
    .banner__items__clases__fight {
      color: #ffc559; }
  .banner__items__boton {
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px; }
    .banner__items__boton button {
      width: 100%;
      height: 50px;
      padding: 8px 0 8px 0;
      border-radius: 20px;
      background: #c90040;
      color: white;
      border: none;
      cursor: pointer; }

#evento {
  background-image: url(../img/geert-pieters-3RnkZpDqsEI-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px; }

.evento {
  width: 30%;
  margin: 0 auto;
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 150px 0 0 0; }
  .evento__logo {
    width: 50%;
    height: 60px;
    border-radius: 20px;
    padding: 5px; }
  .evento__big {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    padding: 10px; }
  .evento button {
    width: 40%;
    height: 50px;
    padding: 8px 0 8px 0;
    border-radius: 20px;
    background: #c90040;
    color: white;
    border: none;
    cursor: pointer; }

#nosotros {
  background: #323232;
  height: 600px; }

.textos {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-top: 50px; }
  .textos p {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .textos h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 30px; }
  .textos h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    padding-top: 20px; }

.comunidad {
  color: #c90040; }
