$cl_botones:rgb(201, 0, 64);
$bg_event: linear-gradient(to right, #0c0090, #3d0067, #400045, #36002a, #260017, #2b061b, #310b1e, #371022, #5b0f3c, #7f095c, #a10083, #c000b0);
$bg_nosotros: rgb(50, 50, 50);
$athletics: rgb(121, 121, 251);
$bikers: rgb(0, 0, 66);
$yoggers: rgb(143, 255, 143);
$crosfiters: rgb(255, 116, 116);
$fighters: rgb(255, 197, 89);
$cl_wa: rgb(199, 48, 73);
$redes: white; 
